
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SchoolAdmin/Views/Shared/LayoutPage.cshtml";
}

<div class="m-content">

    <!--Begin::Main Portlet-->
    <div class="m-portlet m-portlet--full-height">

        <!--begin: Portlet Head-->
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                       Employee Master
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                   
                    <li class="m-portlet__nav-item">
                        <a  class="btn btn-outline-info m-btn m-btn--icon">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Add Employee</span>
                            </span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <!--end: Portlet Head-->
        <!--begin: Portlet Body-->
        <div class="m-portlet__body m-portlet__body--no-padding">
            <!--begin: Form Wizard-->
            <div class="m-wizard m-wizard--3 m-wizard--success" id="m_wizard">
                <!--begin: Message container -->
                <div class="m-portlet__padding-x">

                    <!-- Here you can put a message or alert -->
                </div>

                <!--end: Message container -->
                <div class="row m-row--no-padding">
                    <div class="col-xl-2 col-lg-12">

                        <!--begin: Form Wizard Head -->
                        <div class="m-wizard__head">
                            <!--begin: Form Wizard Progress -->
                            <div class="m-wizard__progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <!--end: Form Wizard Progress -->
                            <!--begin: Form Wizard Nav -->
                            <div class="m-wizard__nav">
                                <div class="m-wizard__steps">
                                    <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">                                               
                                                    <span>1</span>
                                                </a><div class="m-wizard__step-line">
    <span></span>
</div>
                                            <div class="m-wizard__step-label">
                                               Personal Details
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span>2</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                               Educational Details
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span>3</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                               Current Appointment
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                           <span>4</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                                Experience Details
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_5">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span>5</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                               Bank Details
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_6">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span>6</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                                Document Upload
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_7">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">
                                                <span>7</span>
                                            </a>
                                            <div class="m-wizard__step-line">
                                                <span></span>
                                            </div>
                                            <div class="m-wizard__step-label">
                                               Upload Profile Picture
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Nav -->
                        </div>

                        <!--end: Form Wizard Head -->
                    </div>
                    <div class="col-xl-10 col-lg-12">

                        <!--begin: Form Wizard Form-->
                        <div class="m-wizard__form">

                            <!--
                                1) Use m-form--label-align-left class to alight the form input lables to the right
                                2) Use m-form--state class to highlight input control borders on form validation
                            -->
                            <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">

                                <!--begin: Form Body -->
                                <div class="m-portlet__body m-portlet__body--no-padding">

                                    <!--begin: Form Wizard Step 1-->
                                    <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Personal Details</h3>
                                            </div>
                                         
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label"> Name<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Department<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">Designation<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" class="form-control m-input" ng-model="SchoolId" value="{{SchoolId}}">

                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Gender<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder="" autocomplete="off" ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">Blood Group<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder="" autocomplete="off" ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" class="form-control m-input" ng-model="SchoolId" value="{{SchoolId}}">

                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Email<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" autocomplete="off" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Alternate Email<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Mobile Number<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Permanent Address Details
                                                    <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon " title="Some help text goes here"></i>
                                                </h3>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Address<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">State<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">District<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Taluka<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">City/Village<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">PinCode<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Correspondance Address Details
                                                    <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon " title="Some help text goes here"></i>
                                                </h3>                                                
                                                    <label class="m-checkbox">
                                                        Copy Permanent Address
                                                        <input type="checkbox" id="" value="">
                                                        <span></span>
                                                    </label>
                                                
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Address<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="name" class="form-control m-input" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">State<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">District<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Taluka<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">City/Village<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">PinCode<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__heading">
                                            <h3 class="m-form__heading-title">
                                                Parent Details
                                                <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon " title="Some help text goes here"></i>
                                            </h3>
                                        </div>
                                        <div class="form-group  row">
                                            <label class="col-xl-2 col-lg-3 col-form-label">Name Of The Parent<span class="required-star">*</span></label>
                                            <div class="col-xl-8 col-lg-8">
                                                <input type="text" name="name" class="form-control m-input" placeholder="Full Name" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__heading">
                                            <h3 class="m-form__heading-title">
                                                Religion Details
                                                <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon " title="Some help text goes here"></i>
                                            </h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-4  col-form-label">Caste<span class="required-star">*</span></label>
                                                    <div class="col-xl-8 col-lg-8">
                                                        <input type="text" name="cast" id="cast" class="form-control m-input" placeholder="" ng-model="" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-form-label">Sub-Caste<span class="required-star">*</span></label>
                                                    <div class="col-xl-8 col-lg-8">
                                                        <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-4  col-form-label">Religion<span class="required-star">*</span></label>
                                                    <div class="col-xl-8 col-lg-8">
                                                        <input type="text" name="cast" id="cast" class="form-control m-input" placeholder="" ng-model="" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-form-label">Category<span class="required-star">*</span></label>
                                                    <div class="col-xl-8 col-lg-8">
                                                        <input type="text" name="schoolname" id="schoolname" class="form-control m-input" placeholder=" " ng-model="SchoolName" value="" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--end: Form Wizard Step 1-->
                                    <!--begin: Form Wizard Step 2-->
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Educational Details</h3>
                                            </div>
                                            <div id="m_repeater_1">
                                                <div class="form-group  m-form__group row" id="m_repeater_1">
                                                  
                                                    <div  class="col-xl-12">
                                                        <div>
                                                            <table class="table table-striped- table-bordered table-hover  table-responsive" id="m_table_2">
                                                                <tr>
                                                                    <th>NAME</th>
                                                                    <th>PASSING MONTH & YEAR</th>
                                                                    <th>SCHOOL/ COLLEGE</th>
                                                                    <th>UNIVERSITY/ BOARD</th>
                                                                    <th>BOARD DIVISION/ STATE</th>
                                                                    <th>CREDIT/ PERCENTAGE/ SGPA</th>
                                                                    <th colspan="2">Actions</th>
                                                                </tr>
                                                                <tbody data-repeater-list="">
                                                                    <tr data-repeater-item class="align-items-center">
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 200px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 150px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 200px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 150px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 150px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder="" style="width: 150px"/></td>
                                                                        @*<th ><input type="button" class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill" value="Delete"/></th>*@
                                                                        <td data-repeater-delete="">
                                                                                                                                                        <a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                                                                <i class="fa fa-minus"></i>
                                                                            </a>
                                                                        </td>
                                                                        @*<td data-repeater-create="">
                                                                            <a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
                                                                                <i class="fa fa-plus"></i>
                                                                            </a>
                                                                        </td>*@
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div data-repeater-create="" class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
                                                            <span>
                                                                <i class="la la-plus"></i>
                                                                <span>Add</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <!--end: Form Wizard Step 2-->
                                    <!--begin: Form Wizard Step 3-->
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Current Appointment</h3>
                                            </div>
                                         
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Appointment Type<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">JobType<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Joining Date<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>                                          
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">UAN<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>  

                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">Sr.GradeScale Applicable<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">Sr.GradeScale ApplicableDate<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">SelectionGrade ScaleApplicable<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">SelectionGrade ScaleApplicable Date<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder=" " ng-model="" value="" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <!--end: Form Wizard Step 3-->
                                    <!--begin: Form Wizard Step 4-->
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_4">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title"> Experience Details</h3>
                                            </div>
                                            <div id="m_repeater_2">
                                                <div class="form-group  m-form__group row" id="m_repeater_2">

                                                    <div class="col-xl-12" >
                                                        <div>
                                                            <table  class="table table-striped- table-bordered table-hover  table-responsive" id="m_table_2">
                                                                <tr>
                                                                    <th>EXPERIENCE TYPE</th>
                                                                    <th>ORGANISATION</th>
                                                                    <th>ORGANISATION ADDRESS</th>
                                                                    <th>DESIGNATION</th>
                                                                    <th>PERIOD FROM</th>
                                                                    <th>PERIOD TO</th>
                                                                    <th>TOTAL EXPERIENCE</th>
                                                                    <th>DOCUMENT UPLOAD</th>
                                                                    <th colspan="2">Actions</th>
                                                                </tr>
                                                                <tbody data-repeater-list="">
                                                                    <tr data-repeater-item class="align-items-center">
                                                                        <td><input type="text" class="form-control" placeholder=""  style="width: 130px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder=""  style="width: 130px"/></td>
                                                                        <td> <textarea class="form-control m-input" placeholder=""  style="width: 130px"></textarea></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder=""  style="width: 130px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder=""  style="width: 130px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder=""  style="width: 130px"/></td>
                                                                        <td><input type="text" class="form-control m-input" placeholder=""  style="width: 130px"/></td>
                                                                        <td><input type="file" class="form-control m-input" placeholder=""  style="width: 237px"/></td>
                                                                        @*<th ><input type="button" class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill" value="Delete"/></th>*@
                                                                        <td data-repeater-delete="">
                                                                            <a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                                                                <i class="fa fa-minus"></i>
                                                                            </a>
                                                                        </td>
                                                                      
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div data-repeater-create="" class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
                                                            <span>
                                                                <i class="la la-plus"></i>
                                                                <span>Add</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_5">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Bank Details</h3>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Bank Name<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="bankname" class="form-control m-input" placeholder="Bank Name" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Account Holder Name<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="bankname" class="form-control m-input" placeholder="Account Holder Name" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-xl-2 col-lg-3 col-form-label">Branch Name<span class="required-star">*</span></label>
                                                <div class="col-xl-8 col-lg-8">
                                                    <input type="text" name="bankname" class="form-control m-input" placeholder="Branch Name" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4  col-form-label">IFSC Code<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder="IFSC Code" ng-model="" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-4 col-lg-4 col-form-label">MICR Code<span class="required-star">*</span></label>
                                                        <div class="col-xl-8 col-lg-8">
                                                            <input type="text" name="" id="" class="form-control m-input" placeholder="MICR Code" ng-model="" value="" />

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                           
                                        </div>

                                    </div>
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_6">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Document Upload</h3>
                                            </div>
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="section_table_view">
                                                <tr>
                                                    <th>Certificates</th>
                                                    <th>Browse Certificates</th>
                                                    <th>Upload Certificates</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                          <select class="form-control" value="" ng-model="">
                                                                <option value="0">--Select--</option>
                                                                <option>SSC Certificate</option>
                                                                <option>HSC-DIPLOMA Certificate</option>
                                                                <option>UG Certificate</option>
                                                                <option>PG Certificate</option>
                                                                <option>Phd Certificate</option>
                                                                <option>Aadhar Card</option>
                                                                <option>Pan Card</option>
                                                                <option>University Approval Letter</option>
                                                                <option>Passport Details</option>
                                                                <option>Birth Certificate</option>
                                                                <option>Caste Certificate</option>
                                                                <option>Caste Validity</option>
                                                                <option>SET NET Score Card</option>
                                                                <option>Any Other</option>                                                            


                                                            </select>
                                                       
                                                    </td>
                                                    <td>
                                                        <input type="file" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-info" ng-show="" ng-model="" ng-click="">
                                                            <i class="fa fa-upload"> </i>  Upload
                                                        </button>
                                                    </td>
                                                </tr>
                                                </table>
</div>

                                    </div>
                                    <div class="m-wizard__form-step" id="m_wizard_form_step_7">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Profile Upload</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="m-card-user__pic">
                                                        <img src="~/Content/assets/app/media/img/users/1.png" class="m--img-rounded m--marginless" style="height:91px" alt="" />

                                                        <!--
                    <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
                    -->
                                                    </div><br>
                                                    <input type="file" />
                                                    <label><b>Upload Profile Picture</b></label>
                                                    </div>
                                                <div class="col-6">
                                                    <div class="m-card-user__pic">
                                                        <img src="~/Content/assets/app/media/img/users/blankimage.jpg" class="m--img-rounded m--marginless" style="height:91px" alt="" />

                                                        <!--
            <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
            -->
                                                    </div><br>
                                                    <input type="file" />
                                                    <label><b>Upload Profile Sign </b></label>
                                                </div>
                                                </div>
                                                </div>

                                            </div>


                                            <!--end: Form Wizard Step 4-->
                                        </div>

                                <!--end: Form Body -->
                                <!--begin: Form Actions -->
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-6 m--align-left">
                                                <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                                    <span>
                                                        <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                        <span>Back</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 m--align-right">
                                                <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                                    <span>
                                                        <i class="la la-check"></i>&nbsp;&nbsp;
                                                        <span>Submit</span>
                                                    </span>
                                                </a>
                                                <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end: Form Actions -->
                            </form>
                        </div>

                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>

            <!--end: Form Wizard-->
        </div>

        <!--end: Portlet Body-->
    </div>

    <!--End::Main Portlet-->
</div><script src="~/Content/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->
<!--begin::Global Theme Bundle -->
<script src="@Url.Content("~/Content/assets/vendors/custom/datatables/datatables.bundle.js")" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/wizard/wizard.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/forms/widgets/wizard.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/forms/widgets/form-repeater.js" type="text/javascript"></script>
<script src="~/Content/assets/demo/demo12/custom/crud/datatables/basic/scrollable.js" type="text/javascript"></script>

