<html>
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akron | Dashboard</title>
    <!--<link rel="shortcut icon" href="../favicon.ico">-->
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.theme.default.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <!--begin::Global Theme Styles -->
    <link href="~/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/assets/demo/demo12/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" type="text/css" />


</head>


<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <div class="row">
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head bgcolorhead">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h4 class="m-portlet__head-text" style="color:white;">
                                <i class="fa fa-chalkboard-teacher" style="padding-right:10px;"></i>
                                EXAM MARK ENTRY STATUS
                            </h4>
                        </div>


                    </div>


                </div>
                <div class="divSpace-top">
                    <div class="divSpace-right display-inline"></div>
                    <label id="lblSlot"> Exam :</label>
                    <select id="search_categories" name="search_categories">
                        <option value="0">-Select-</option>
                        <option value="1">Test I</option>
                        <option value="2">Test II</option>
                        <option value="3">Terminal I</option>
                        <option value="4">Test III</option>
                        <option value="5">Test IV</option>
                        <option value="6">Terminal II</option>

                    </select>
                    <div class="divSpace-right display-inline"></div>
                    <label id="lblstd"> Standard :</label>
                    <select id="ddlstd">
                        <option value="0">-Select-</option>
                        <option value="1">I - A</option>
                        <option value="2">II - A</option>
                        <option value="3">III - A</option>
                        <option value="4">IV - A</option>
                        <option value="5">V - A</option>
                        <option value="6">VI - A</option>
                        <option value="7">VII - A</option>
                    </select>
                    <div class="divSpace-right display-inline"></div>
                    <label id="lblstd">Teacher :</label>
                    <select id="ddlstd">
                        <option value="0">-Select-</option>
                        <option value="1">Patil Swara Satish </option>
                        <option value="2">Chavan Nitin P.</option>
                        <option value="3">Jadhav Sunil A.</option>
                        <option value="4">Mali Akshay A.</option>
                        <option value="5">Mane Kedar P.</option>

                    </select>

                </div>


                <!--begin: Datatable -->
                <div class="contain">
                    <table class="datatable table table-striped table-bordered table-hover datatable2">

                        <tr class="m-datatable__row" style="left: 0px;">
                            <th class="m-datatable__head">Teacher Name</th>
                            <th class="m-datatable__head"> Subject </th>
                            <th class="m-datatable__head">Type</th>
                            <th class="m-datatable__head">Type</th>

                        </tr>
                        <tbody>
                            <tr><td>Patil Swara Satish</td><td>Marathi</td><td>Reading</td><td><span class="m-badge  m-badge--danger m-badge--wide">Pending</span></td></tr>
                            <tr><td>Chavan Nitin P.</td><td>English</td><td>NoteBook</td><td><span class="m-badge  m-badge--success m-badge--wide">Completed</span></td></tr>
                            <tr> <td>Jadhav Sunil A.</td><td>English</td><td>Written</td><td><span class="m-badge  m-badge--success m-badge--wide">Completed</span></td></tr>

                            <tr><td>Patil Supriya Satish</td><td>English</td><td>Oral</td><td><span class="m-badge  m-badge--success m-badge--wide">Completed</span></td></tr>
                            <tr><td>Sutar Priya M.</td><td>English</td><td>Oral</td><td><span class="m-badge  m-badge--danger m-badge--wide">Pending</span></td></tr>
                            <tr> <td>Mali Akshay A.</td><td>Maths</td><td>Oral</td><td><span class="m-badge  m-badge--success m-badge--wide">Completed</span></td></tr>

                            <tr><td>Mane Kedar P.</td><td>Marathi</td><td>Oral</td><td><span class="m-badge  m-badge--success m-badge--wide">Completed</span></td></tr>
                        </tbody>


                    </table>
                </div>

                <!--end: Datatable -->

            </div>
        </div>






    </div>

</body>


</html>