<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akron | Dashboard</title>
    <!--<link rel="shortcut icon" href="../favicon.ico">-->
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.theme.default.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/js/OwlCarousel2-2.3.4/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <!--begin::Global Theme Styles -->
    <link href="~/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/assets/demo/demo12/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="row">
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--tabs" >
                <div class="m-portlet__head bgcolorhead" >
                    <div class="m-portlet__head-caption" >
                        <div class="m-portlet__head-title">
                            <div class="m-topbar__userpic" style="padding-right:20px;">
                                @*<img src="~/Content/assets/app/media/img/users/user5.jpg" alt=""  style=" border-radius: 50%;width:65px;height:65px;">*@

                                <img src="/Content/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" style="width:65px;height:65px;">

                            </div>
                            <h3 class="m-portlet__head-text" >
                                Admin
                            </h3>

                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">

                        <div class="m-widget4__item">

                            <div class="m-widget4__info">
                                <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                <h6 class="m-widget24__title" >

                                    Employee Type

                                </h6>
                            </div>

                        </div>
                        <div style="height:10px;"></div>
                        <div class="m-widget4__item">

                            <div class="m-widget4__info">
                                <h6 class="m-widget24__title" >
                                    Designation
                                </h6>
                            </div>
                            <div class="m-widget4__ext">

                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="m-widget4__item">

                            <div class="m-widget4__info">
                                <h6 class="m-widget24__title" >
                                    Date Of Joining
                                </h6>
                            </div>
                            <div class="m-widget4__ext">
                                <a href="#" class="m-widget4__icon">

                                </a>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                       



                    </div>
                </div>
            </div>

          



        </div>


     


    </div>

</body>
</html>

